<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-avatar class="profile-pic">
    <ion-img src="https://avatars.githubusercontent.com/u/50827537?s=400&u=2e9e73feeabc076b66a5032340a327974c87de11&v=4"></ion-img>
  </ion-avatar>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Matembu Emmanuel Dominic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-margin-y-small">
        <p>I am a Computer Engineer by profession pursued from Busitema University and a software engineer by passion with over five years of experience.</p>
        <p>Being a long-life learner of technology, and an excellent team player whilst maintaining integrity and confidentiality is at the core of what I do.</p>
        <p>I am well versed in Python, ReactJS, Redux, GraphQL, AWS, HTML, CSS, Angular, NodeJS, JAVA, and current web standards, including approaches to responsive web design and browser compatibility. In my opinion, I love challenges because they help me to improve, as a result, I enjoy playing Chess.</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
